body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
}

.summary {
  display: flex;
  justify-content: space-around;
}

#list {
  list-style: none;
  padding: 0;
}

#list li {
  background: #1e293b;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#list li.plus {
  border-right: 5px solid green;
}

#list li.minus {
  border-right: 5px solid red;
}

#list button {
  background: red;
}

canvas {
  margin-top: 20px;
}
